# Python #
##########
*.pyc
*.ipynb*
/.coverage
/.coverage.*
/.cache
/test/.cache

# Editors #
###########
*.swp
*~
\#*\#

# Venv #
########
/bin
/include
/lib
/lib64
/man
/share
/pip-selfcheck.json
/pyvenv.cfg

# LaTeX #
#########
*.aux
*.log
*.pdf
*.out

# Misc #
########
.DS_Store
