# Python #
##########
*.pyc
/.coverage

# Editors #
###########
*.swp
*~
\#*\#

# Virtual Env #
###############
/bin
/include
/lib
/man
/share
/pip-selfcheck.json

# LaTeX #
#########
*.aux
*.log
*.pdf
*.out

# Misc #
########
.DS_Store
